# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# http://www.gnu.org/software/autoconf

/src/autom4te.cache
/src/autoscan.log
/src/autoscan-*.log
/src/aclocal.m4
/src/compile
/src/config.h.in
/src/configure.scan
/src/depcomp
/src/install-sh
/src/missing
/src/stamp-h1

# Other automake/autoconf stuff
.deps
config.log
config.status
/src/Makefile
